/* CONTEÚDO GERAL */

body {
    background-image: url("../img/backs/sunset.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#header {
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.6);
    width: 17%;
    height: 8%;
}

#header:hover {
    animation: pulse;
    animation-duration: 1s;
}

/* MENU DE NAVEGAÇÃO */

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.menu img {
    margin-top: 1%;
    width: 30%;
    height: 80%;
}

.menu a {
    margin-top: 8%;
    text-decoration: none;
    color: black;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    font-size: 17px;
}

/* CONTEÚDO MAIN */

/* CONTENT LOGIN */

.logo {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 30%;
}

.logo img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content_login {
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    background: transparent;
    width: 35%;
    height: 100%;
}

/* CAMPOS */

.campo {
    margin-top: 4%;
    background: transparent;
    height: 40%;
    width: 100%;
}




/* ENVIO */

.enviar {
    margin-top: 10%;
    background: transparent;
    width: 100%;
    height: 12%;
}



.enviar [type="asp:Button"]:hover {
    animation: pulse;
    animation-duration: 0.4s;
    background: rgb(5, 155, 5);
    color: white;
}

.button {
    cursor: pointer;
    border: none;
    color: black;
    border-radius: 14px;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.6);
    width: 70%;
    height: 40px;
}

.button:hover {
    animation: pulse;
    animation-duration: 0.4s;
    background: rgb(5, 155, 5);
    color: white;
}
/* PLACEHOLDER */

::-webkit-input-placeholder {
    color: black;
    font-size: 18px;
}

/* TEXTOS */

.text {
    color: white;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.text spam {
    cursor: pointer;
    color: rgb(5, 155, 5);
    font-weight: 700;
}

.text a {
    text-decoration: none;
}

/* CONTEÚDO FOOTER */

/* INFORMATION */

.information {
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    background: transparent;
    width: 18%;
    height: 10%;
}

/*FOOTER*/
#footer {
    width: 100%;
    height: 5%;
}